<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Powered by <a href="http://blog.xujin.org" target="_blank">Software_King</a>. 
        </div>
        <span id="busuanzi_container_site_pv">
         访问<span id="busuanzi_value_site_pv"></span>次数
         </span>
         <span id="busuanzi_container_site_uv">
          访客<span id="busuanzi_value_site_uv"></span>人数
         </span>
    </div>
</footer>